.widget__article {
  position: relative;
  margin: 0;
  padding: 7px 15px;
  width: 100%;
  box-sizing: border-box;
  background-color: #F3F4F4;
  display: none;
  grid-template-rows: auto auto auto;
  row-gap: 5px;
}